.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(201,17,186);
  background: linear-gradient(90deg, rgba(201,17,186,1) 0%, rgba(9,34,121,1) 47%, rgba(239,0,255,1) 100%);
  color: red;
  animation-name: quizzle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  font-family: atari;
  font-size: 44px;
  text-transform: uppercase;
}

  @keyframes quizzle {
  0%   {color: skyblue;}
  25%  {color: yellow;}
  50%  {color: magenta;}
  100% {color: green;}
}


.main-header__text {
  // color: red;
  // animation-name: quizzle;
  // animation-duration: 4s;
  // font-family: atari;
  // text-transform: uppercase;

}
