.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2px;
}

.navigation__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  color: white;
  text-decoration: none;
  font-size: 1.4em;
}

.navigation__link--active {
  background: magenta;
  opacity: 0.7;

}
.navigation__link:hover {
  background: magenta;
  opacity: 1.7;
}

.navigation__link--game {
  background-image: image('img\arcade.svg');
  background-position: center; 
}

